h1  {
    font-size: 10px;
    color: purple;
    font-family: Arial;
}

strong {
    color: green;
}

p {
    line-height: 100%;
    color: red;
}
#otherp {
    font-weight: bold;
}

.fancy {
    color: #ccc
}

h1.centered {
    color: yellow;
}
